form{
    text-align: center; border: solid;border-radius: 10px;
}

input{
    border-radius: 5px;
}
button{
color: white; background-color: rgb(54, 54, 215); border-radius: 10px;
}



table{
    border: solid;
    border-collapse: collapse;
}

th{
    border: solid; color: white; background-color: black;
}


td{
    border: solid;
}