#img1{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 230px;
    top: 150px;
}



#div1{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    left: 30px;
    bottom: 20px;
}


