body{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#div1{
    background-color: blue;
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#div1:hover{
    background-color: red;
    border-radius: 50%;
    transition: 3s 1s linear;
}




