

.btn {
    padding: 10px 20px;
    border: none;
    background-color: royalblue;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.btn:hover {
    transform: translateX(20px);
}




.box {
    width: 100px;
    height: 100px;
    background-color: crimson;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.box:active {
    transform: translateX(50px);
}


/* 5) Facebook Icon */

.facebook {
    font-size: 50px;
    color: #1877f2;
    margin-top: 30px;
    display: block;
    transition: font-size 0.5s ease;
}

.facebook:hover {
    font-size: 55px;
}