*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}



.btn1{
    transition: 1s;
}

.btn1:hover{
    transform: scale(0.7)
               translate(-160px, -20px);
}

.btn2{
    transition: 1s;
}

.btn2:active{
    transform: scale(1.5)
               translate(60px, -45px);
}